<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">StyleShop</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/men" routerLinkActive="active">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/women" routerLinkActive="active">Women</a>
        </li>
      </ul>
      <div class="d-flex">
        <a routerLink="/cart" class="btn btn-outline-light position-relative">
          <i class="bi bi-cart"></i> Cart
          <span *ngIf="cartItemCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartItemCount }}
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
